$base-color: #ff99dd;
$base-color-light: #ffccee;
$base-color-dark: #ff66cc;
$base-color-modal-background: rgba(0, 0, 0, 0.7);
$base-color-pink-light: #ea7cbd;
$base-color-pink-dark: #F545B3;
$base-color-white: #ffffff;