@import 'base/colors';

.guestbook-item {
  width: 335px;
  position: relative;
  border: 1px solid $base-color-pink-dark;
  padding: 15px;
  margin-bottom: 15px;

  .item-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    .name {
      font-weight: bold;
    }
    .timestamp {
      font-weight: 300;
    }
  }
}

#post_container {
  margin: 0 auto;
}
