@import 'base/colors';

.header {
  position: fixed;
  width: 100%;
  padding: 10px;
  height: 45px;
  background-color: $base-color-pink-light;
  z-index: 999;

  .header-list {
    display: flex;

    width: 600px;
    margin-left: 10px;
    justify-content: space-between;

    li:hover {
      text-decoration: underline;
      text-decoration-color: $base-color-pink-dark;
    }

    a {
      color: #fefefe;
    }
  }
}
