.index-block {
  height: 800px;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  &:first-child {
    background-image: url(asset-path('cat_1-jpg.jpg'));
  }

  &:nth-child(2) {
    background-image: url(asset-path('cat_2-jpg.jpg'));
  }

  &:nth-child(3) {
    background-image: url(asset-path('cat_3-jpg.jpg'));
  }

  &:nth-child(4) {
    background-image: url(asset-path('cat_4-jpg.jpg'));
  }
}
